doctype html
html(lang="en")
  head
    // Meta
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    // Title
    block title
      title pug-sass-coffee-starter

    // Styles
    link(rel="stylesheet", href="bundle.css")

  body

    // Content
    block content

    // Scripts
    script(src="bundle.js")
