doctype html
html(lang="en")
  head
    // Meta
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    // Title
    block title
      title Workflow

    // Styles
    link(rel="stylesheet", href!= config.output.styles)

  body

    // Content
    block content

    // Scripts
    script(src!= config.output.scripts)
